Repository BirthdayResearch/liquidity.dfi.dev, pull requests merged in 2022-08, with the labels that each got.

#89 feat(liquidity): showing where to get ERC-20 DFI when balance = 0
  src/components/CurrencyInputPanel/index.tsx
  src/components/PositionCard/index.tsx
  src/constants/abis/eth-lp-proxy.json
  src/constants/index.ts
  src/pages/AddLiquidity/index.tsx
Labels: kind/feature, area/liquidity

#91 chore(docs): readme
  README.md
Labels: kind/chore

#95 chore(netlify): redirect `liquidity.dfi.dev` to `uniswap.defichain.com`
  .idea/modules.xml
  README.md
  package.json
  public/_redirects
  public/manifest.json
  src/components/Header/URLWarning.tsx
Labels: kind/chore

#93 feat(pool): show all pools without web3 wallet
  .env.production
  src/components/PositionCard/index.tsx
  src/pages/Pool/index.tsx
Labels: kind/feature

#101 fix(pool): removed non-null assertion in apr calc
  src/components/PositionCard/index.tsx
  src/pages/AddLiquidity/APRCalculation.tsx
Labels: kind/fix

#100 feat(analytics): add and remove liquidity attempt events
  src/pages/AddLiquidity/index.tsx
  src/pages/RemoveLiquidity/index.tsx
Labels: kind/feature

#104 fix(pool): disable apr display due to overflow bug
  src/components/PositionCard/index.tsx
Labels: kind/fix

#105 fix(pool): fixed apr overflow
  src/components/PositionCard/index.tsx
  src/pages/AddLiquidity/APRCalculation.tsx
Labels: kind/fix

#106 fix(pool): displaying APR with 2dp
  src/components/PositionCard/index.tsx
Labels: kind/fix

#103 fix: styling for `You will receive` component
  src/pages/AddLiquidity/index.tsx
Labels: kind/fix

#110 feat(privacy): consent management for EU ePrivacy Directive
  public/index.html
Labels: kind/feature

#113 chore(privacy): revert consent management
  public/index.html
Labels: kind/chore

#111 fix: Use bignumber.js library
  package.json
  src/pages/AddLiquidity/APRCalculation.tsx
  yarn.lock
Labels: kind/fix

#112 fix(ui-ux): copy changes and styling of Position Card
  src/components/PositionCard/index.tsx
Labels: kind/fix

#114 chore(security): adding security headers to Netlify
  netlify.toml
Labels: kind/chore

#117 feat(pool): add DFI token info to Metamask
  package.json
  src/components/CurrencyInputPanel/index.tsx
  src/components/SearchModal/CurrencySearch.tsx
  src/pages/AddLiquidity/index.tsx
  src/pages/Pool/index.tsx
  yarn.lock
Labels: kind/feature
